<!doctype html>
  <html lang="en">
    <head>
      <link rel="stylesheet" href="../static/css/dashboard.css">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
      <meta charset="UTF-8">
      <title>Dashboard</title>
    </head>
    <body>
        <h1>Welcome!</h1>
        <p>Select Victim to make them sad</p>
        <table>
          <tr>
            <th> Victim Machine Name</th>
            <th> Agent ID </th>
            <th> First Seen </th>
            <th> Last Seen </th>
            <th> Operations </th>
          </tr>
          {% for agent in info %}
            <tr>
                <td>{{ agent.victim_machine_user }}</td>
                <td>{{ agent.agent_id }}</td>
                <td>{{ agent.first_seen}}</td>
                <td>{{ agent.last_seen}}</td>
                <td> 
                  <form method="post" action="{{ url_for('operation')}}">
                    <input type="hidden" name="agent_id" value="{{ agent.agent_id }}">
                    <input type="submit" class="button" value="HACK" />
                  </form>
                </td>
            </tr>
          {% endfor %}
        </table>

        <form method="post" action="{{ url_for('logout')}}">
          <input type="submit" class="button" id="right_button" value="Logout" />
        </form> 

    </body>