<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="../static/css/login.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
        <!-- google fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Yuji+Boku&display=swap" rel="stylesheet">
        <meta charset="UTF-8">
        <title>Home Page</title>
    </head>
    <body>
        <h1>Welcome!</h1>
        <form method="post" action="{{ url_for('login_client')}}">
            <label for="login_client"></label>
            <br>
                Username: 
                <input type="client_id" name="client_id" placeholder="Enter Client ID Here" />
            </br>
            <br>
                Password:
                <input type="password" name="password" placeholder="Enter Password Here" />
            </br>
            <br><input type="submit" value="Login"></br>
        </form>
    </body>
</html>

<!-- always remember that url_for accepts a FUNCTION NAME as a parameter -->