<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="../static/css/operation.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
        <meta charset="UTF-8">
        <title>Operation</title>
    </head>

    <body>
        <h1>Magic Conch Shell_</h1>
        <p> Create tasks here! </p>
        <form method="post" action="{{ url_for('task_create')}}">
            <input type="hidden" name="agent_id" value="{{ agent_id }}">
            <select class="dropdown" name="command_type">
                <option value="powershell_cmd">Powershell Command</option>
                <option value="steal">Steal</option>
                <option value="shellcode">Injection</option>
                <option value="change_config">Change Config </option>
            </select>

            <div class="user-box">
                <input type="text"  name="cmd">
                <label>Powershell Command</label>
            </div>
            <input type="submit" class="button" value="HACK THE PLANET!"/>
        </form>

        <hr class="divider">

        <p> Tasks currently assigned to Agent #{{agent_id}}</p>
        <table>
            <tr>
                <th> Job ID</th>
                <th> Command Type </th>
                <th> Command </th>
                <th> Job Status</th>
                <th> Results </th>
            </tr>
            {% for t in tasks %}
            <tr>
                <td> {{t.job_id}} </td>
                <td> {{t.command_type}} </td>
                <td> {{t.cmd}} </td>
                <td> {{t.job_status}} </td>
                <td>
                    <form method="post" action="{{ url_for('display_results')}}">
                        <input type="hidden" name="job_id" value="{{ t.job_id }}">
                        <input class="button" type="submit" value="Results" />
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>

        <br> <br>

        <span>
            <form method="post" action="{{ url_for('return2dashboard')}}">
                <input class="button" type="submit" id="right_button" value="Return to Dashboard" />
            </form>

            <form method="post" action="{{ url_for('logout')}}">
                <input class="button" id="right_button" type="submit" value="Logout" />
            </form>
        </span>
    </body>

</html>