<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Home Page</title>
    </head>
    <body>
        <h1>Welcome!</h1>
        <form method="post" action="{{ url_for('login_client')}}">
            <label for="login_client"></label>
            <input type="client_id" name="client_id" placeholder="Enter Client ID Here" />
            <input type="password" name="password" placeholder="Enter Password Here" />
            <input type="submit" value="Login">
        </form>
    </body>
</html>