<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Operation</title>
    </head>
    <style>

    </style>
    <body>
        <p> Tasks current assigned to this agent</p>
        <table>
            <tr>
                <th> Job ID</th>
                <th> Command Type </th>
                <th> Command </th>
                <th> Job Status</th>
            </tr>
            <!-- {% for t in tasks %}
            <tr>
                <td> </td>
            </tr>
            {% endfor %} -->
        </table>


    </body>

</html>