html, body {
    height: 100%;
    font-family: 'Roboto Mono', monospace;
    background-color: #232424;
    color: #5eec5e;
    
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

h1 {
    text-align: center;
}