html, body {
    height: 100%;
    font-family: 'Roboto Mono', monospace;
    display: table;
    margin: auto;
    background-color: #232424;
    color: #5eec5e;
}


body {
    display: table-cell;
    vertical-align: middle;
}

